@import "normalize.css";
@import url("assets/stylesheets/normalize.css");

@font-face {
  font-family: "Nunito Sans Regular";
  src: url("assets/fonts/NunitoSans-Regular.woff2") format("woff2"),
    url("assets/fonts/NunitoSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Nunito Sans Bold";
  src: url("assets/fonts/NunitoSans-Bold.woff2") format("woff2"),
    url("assets/fonts/NunitoSans-Bold.woff") format("woff");
}

h1 {
  font-family: "Nunito Sans Bold";
}

body {
  font-family: "Nunito Sans Regular";
  background: #dddddd;
}

button {
  font-family: "Nunito Sans Bold";
}

#container {
  display: flex;
  justify-content: center;
}

#inner {
  margin-top: 46px;
  width: 370px;
  min-width: 320px;
  background: white;
  border-radius: 3px;
}
.sides {
  padding-left: 40px;
  padding-right: 40px;
}

#form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 23px;
}

#form input,
#form button {
  min-height: 32px;
}

.input {
  padding-top: 15px;
  padding-bottom: 15px;
}

.selected {
  background: #eff6ff;
}

label {
  margin-bottom: 6px;
}

.button {
  padding-top: 23px;
}

button {
  color: white;
  background: #aeb779;
  padding: 12px 0;
  outline: none;
  border: none;
  border-radius: 3px;
}
