#container {
  display: flex;
  justify-content: center;
}

#inner {
  max-width: 420px;
  min-width: 320px;
}

#form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 23px;
}

.button {
  padding-top: 23px;
}
